<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Questões</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/fragmentos/menu.css">
    <link rel="stylesheet" href="/css/fragmentos/base.css">
    <link rel="stylesheet" href="/css/fragmentos/alerta.css">
    <script src="/js/fragmentos/menu.js"></script>
    <script src="/js/manutencao/alterar.js"></script>
    <script src="/js/fragmentos/alerta.js"></script>
</head>

<body>
<main>
    <div th:replace="~{fragmentos/menu.html :: menu-lateral}"></div>
    <div th:replace="~{fragmentos/alerta.html :: alerta}"></div>
    <div class="form-container">
        <div id="main">
            <h2>Alterar Questão</h2>
            <form action="/manutencao/consultar" id="formulario" method="POST">
                <input type="hidden" id="operacao" name="operacao" value="alterar">

                <div>
                    <input type="number" id="numeroQuestao" name="numeroQuestao"
                           placeholder="Informe o número da questão"
                           onblur="carregarQuestao()">

                    <select id="tipoAvaliacao" name="tipoAvaliacao" onblur="carregarQuestao()">
                        <option value="" disabled selected>Tipo de Avaliação</option>
                        <option th:each="item : ${formData['tipoAvaliacao']}"
                                th:value="${item.cdDominio}"
                                th:text="${item.dsItemDominio}">
                        </option>
                    </select>

                </div>

            </form>
        </div>
    </div>
</main>
</body>
</html>
