<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Questões</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/manutencao/consultar_resultados.css">
    <link rel="stylesheet" href="/css/fragmentos/menu.css">
    <link rel="stylesheet" href="/css/fragmentos/base.css">
    <script src="/js/fragmentos/menu.js"></script>
    <style>

    </style>
</head>

<body>
<main>
    <div th:replace="~{fragmentos/menu.html :: menu-lateral}"></div>
    <div class="form-container">
        <div id="main">
            <h2>Funcionalidade em Construção!</h2>
            <form action="/manutencao/exibirIncluir" method="GET">
                <p class="em-construcao">
                    🚧 Esta funcionalidade não está pronta para uso! 🚧
                </p>
                <button type="submit">Voltar</button>
            </form>
        </div>
    </div>
</main>
<script>

</script>
</body>

</html>
