<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Questões</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/manutencao/consultar.css">
    <link rel="stylesheet" href="/css/fragmentos/menu.css">
    <link rel="stylesheet" href="/css/fragmentos/base.css">
    <script src="/js/fragmentos/menu.js"></script>
</head>

<body>
<main>
    <div th:replace="~{fragmentos/menu.html :: menu-lateral}"></div>
    <div class="form-container">
        <div id="main">
            <h2>Consulta de Questões</h2>
            <h3>Escolha os Filtros</h3>
            <form action="/manutencao/consultar" method="POST">
                <input type="number" name="numeroQuestao" placeholder="Informe o número da questão">
                <select name="tipoAvaliacao">
                    <option value="" disabled selected>Tipo de Avaliação</option>
                    <option value="1">Autoavaliação Institucional</option>
                    <option value="2">Avaliação de Satisfação</option>
                </select>

                <button type="submit">Consultar</button>
            </form>
        </div>
    </div>
</main>
<script>

</script>
</body>

</html>
