<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Questões</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/manutencao/incluir.css">
    <link rel="stylesheet" href="/css/fragmentos/menu.css">
    <link rel="stylesheet" href="/css/fragmentos/base.css">
    <script src="/js/fragmentos/menu.js"></script>
    <script src="/js/manutencao/incluir.js"></script>
    <link rel="stylesheet" href="/css/fragmentos/alerta.css">
    <script src="/js/fragmentos/alerta.js"></script>
</head>

<body>
<main>
    <div th:replace="~{fragmentos/menu.html :: menu-lateral}"></div>
    <div th:replace="~{fragmentos/alerta.html :: alerta}"></div>
    <div class="form-container">
        <div id="main">
            <h2>Incluir Questão</h2>
            <form action="/manutencao/incluir" method="POST">

                <input type="number" name="numeroQuestao" placeholder="Informe o número da questão">

                <textarea name="dsQuestao" placeholder="Informe a questão" required rows="4"></textarea>

                <select id="tipoAvaliacao" name="tipoAvaliacao">
                    <option value="" disabled selected>Tipo de Avaliação</option>
                    <option th:each="item : ${formData['tipoAvaliacao']}"
                            th:value="${item.cdDominio}"
                            th:text="${item.dsItemDominio}">Tipo de Avaliação
                    </option>
                </select>

                <select id="categoriaQuestao" name="categoriaQuestao">
                    <option value="" disabled selected>Categoria da Questão</option>
                    <option th:each="item : ${formData['categoriaQuestao']}"
                            th:value="${item.cdDominio}"
                            th:text="${item.dsItemDominio}">Categoria Questão
                    </option>
                </select>

                <select id="tipoQuestao" name="tipoQuestao" onchange="toggleOpcoes()">
                    <option value="" disabled selected>Tipo de Questão</option>
                    <option th:each="item : ${formData['tipoQuestao']}"
                            th:value="${item.cdDominio}"
                            th:text="${item.dsItemDominio}">Tipo Questão
                    </option>
                </select>

                <div id="opcoes-adicionais">
                    <select name="tipoDeBotao" id="tipoDeBotao">
                        <option value="" disabled selected>Tipo de Botão * Falta o backend desse botao</option>
                        <option value="1">Apenas 1 escolha</option>
                        <option value="2">Multiplas Escolhas</option>
                    </select>
                    <input type="number" id="num-opcoes" placeholder="Número de opções" min="2" max="10"
                           onblur="gerarOpcoes()">
                    <div id="opcoes-container"></div>
                </div>

                <button type="submit">Cadastrar</button>

            </form>
        </div>
    </div>
</main>

</body>

</html>
